<div class="channelHeader">

</div>
<div class="channelHeader">Channels<a href=""><img src="/plus-button.png" width="15" height="15" alt="Cant show image" class="plusButton"></a></div>
<div id="channelParent">
		{{#each @model as |item|}}
				<a href="#" class="channelDiv">
						- {{item.channel_name}}
				</a>
		{{/each}}
</div>
